{% load mptt_tags %}
<ul>
    {% recursetree items %}
        <li>
            {% if node.url %}
                <a class="" href="{{ node.url }}">{{ node.title }}</a>
            {% elif node.name %}
                <a class="" href="{{node.name}}">{{ node.title }}</a>
            {% else %}
                <a class="" href="{{ node.content_object.get_absolute_url }}">{{ node.title }}</a>
            {% endif %}
            {% if not node.is_leaf_node %}
                <ul class="submenu">
                    {{ children }}
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
</ul>